#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

#page-auth > aside {
    flex: 6;
    background: #fb7448;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;
}

#page-auth > aside > strong {
    font: 700 36px 'Poppins', sans-serif;
    line-height: 42px;
}

#page-auth > aside > p {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
    color: #424242;
}

#page-auth > aside > p > a {
    color: #495057;
}

#page-auth > aside >.code {
    font-size: 20px;
}

#page-auth > main {
    flex: 9;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
}

#logo{
    align-self: center;
}

#formbox > textarea {
    height: 150px;
    border: 1px solid #fb7448;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 32px;
    padding: 16px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}

#formbox > textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fed3c5;
    outline: 0;
    -webkit-box-shadow: 0 0 0 3px rgb(251 116 72 / 25%);
    box-shadow: 0 0 0 3px rgb(251 116 72 / 25%);
}

#formbox > button {
    margin-top: 16px;
    padding: 16px;
    display: inline-block;
    white-space: pre-wrap;
    width: 100%;
    padding-left: 96px!important;
    padding-right: 96px!important;
    background-color: #fb7448;
    border-color: #fb7448;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 8px;
    cursor: pointer;
    transition: filter 0.2s;
}

#formbox > button:hover {
    filter: brightness(0.9);
}

#formbox > button:active {
    filter: brightness(0.5);
}
.text-white {
    color: #fff!important;
}

.separator {
    color: #495057;
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.separator::before {
    content: '';
    flex: 1;
    height: 1px;
    background: #495057;
    margin-right: 16px;
}

.separator::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #495057;
    margin-left: 16px;
}

#solutionbox {
    margin-bottom: 16px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 42px;
}

#solution {
    font: 700 36px 'Poppins', sans-serif;
    line-height: 42px;
    color: #495057;
}